<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @profile.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact phone:</strong>
  <%= @profile.emergency_contact_phone %>
</p>
<p>
  <strong>Image:</strong><br>
  <%= image_tag @profile.image.url if @profile.image.present? %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<h1><%= @user.profile.first_name %></h1>

<% if @user.student? %>
  <% if @user == current_user %>
    <%#= button_to "Edit Profile", edit_user_path(@user) %>
  <% end %>

  <h2>Enrolled Courses:</h2>

  <ul>
    <% @user.courses.each do |course| %>
      <li><%= link_to course.name, course_path(course) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user is not a student.</p>
<% end %>