<p id="notice"><%= notice %></p>

<p>
  <strong>Generate:</strong>
  <%= @rail.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Studentprofile:</strong>
  <%= @rail.StudentProfile %>
</p>

<p>
  <strong>User:</strong>
  <%= @rail.user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @rail.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rail.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @rail.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rail.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rail.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rail.email %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @rail.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact phone:</strong>
  <%= @rail.emergency_contact_phone %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
